/* Estilos generales */
/* ======= medidas relativas =========

font-size: 16px
Porcentajes
vw, vh, dvw, dvh
em , rem
*/
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  /* variables --nombre */
  --fuente: "Raleway", sans-serif;

  /* padding */
  --paddingn-5: 5px;
  --paddingn-10: 10px;
  --paddingn-15: 15px;
  --paddingn-20: 20px;
  /* tamanio-fuente */
  --t-font-1: 1rem;
  --bg-color: blue;
}

body {
  font-size: var(--t-font-1);
  font-family: var(--fuente);
  background-color: #e0e0e0;
  color: #222;
}
section,
footer {
  /* padding: 20px; */
  padding: var(--paddingn-20);
  /* height: 200px; */
}
footer {
  --bg-color:red;
  height: 60px;
  background-color: #222;
  background-color: var(--bg-color);
}
/* no duplicar codigo */
footer span {
  color: #f3f5f5;
}
footer span a {
  color: #f3f5f5;
}
h2 {
  padding: 1rem 0;
}

.wrapper {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: aqua;
}

header {
  background-color: #00bcd4;
  color: #f4f2f2;
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: calc(var(--t-font-1) * 4.5);/* calcular */
}
.navbar {
  width: 100%;
  height: 60px;
  background-color: #222;
  padding: var(--paddingn-10) var(--paddingn-20);
  display: flex;
  justify-content: end;
}
.navbar ul {
  width: 30%;
  display: flex;
  /* background-color: #e0e0e0; */
  justify-content: space-between;
  align-items: center;
}
.navbar a {
  width: auto;
  padding: 5px;
  color: #f3f5f5;
  text-decoration: none;
  transition: all .35s;
}
/* pseudoclase  elemento:nombre  */
.navbar a:hover {
  background-color: #5b5b5b;
  border-radius: 5px;
  /* cursor: no-drop; */
}
.navbar a:active {
  background-color: #251383;

  /* cursor: no-drop; */
}

ul {
  list-style: none;
}

/* galeria  principal */
.galeria div img {
  width: 40%;
  border-radius: 0.5rem;
  opacity: 0.5;
  transition: opacity .5s, width 2s ease;
}
.galeria div img:hover,
.galeria div img:active {
  opacity: 1;
  width: 200%;
}

/* galeria */
.galeria {
  margin: 0 auto;
  width: 90%;
  /* height: 100%; */
  /* background-color: #9d9a9a; */
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* overflow: scroll; */
}
.galeria div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 20px;
  row-gap: 20px;
  gap: 15px;
}

/* =========nosotros ========== */
.video {
  width: 100%;
}

/* ========== contacto ========= */
section.contact {
  display: flex;
  height: 50%;
  flex-direction: column;
}
section.contact div {
  display: flex;
}
.form {
  height: 100%;
  width: 100%;
}
.form form {
  width: 50%;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
form input,
form textarea {
  border: 0;
  border-bottom: 1.5px solid;
  outline: none;
}

input.btn {
  border-bottom: 0;
}

input:focus {
  border: 2px solid;
}
/* ========== media queries ========= */

/* 
max y min => prestar atención al orden 
min  < a >
max > a <
*/
@media (max-width: 1024px) {
  /* reglas nuevas o sobreescritas */
  h1 {
    font-size: 2.9999999rem;
  }
}

@media (max-width: 768px) {
  header {
    background-color: #5b5b5b;
  }
  .galeria div {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .galeria div img {
    width: 100%;
  }
}
@media (max-width: 574px) {
  h1 {
    font-size: 1.5rem;
  }
  .navbar {
    justify-content: center;
  }
  .navbar ul {
    width: 90%;
  }
}
